@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&family=Old+Standard+TT:ital@0;1&family=Yantramanav:wght@300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: #d36c27;
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Old Standard TT', serif;
    font-weight: 900;
}
h3{
    color: #cd3533;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-top: 4%;
    font-family: 'Maitree', serif;
    font-size: 30px;
}

section{
    min-height: 100vh;
    padding-top: 55px;
}
p{
    font-family: 'Maitree', serif;
}

@media screen and (max-width: 699px){
    main{
        padding-top: 10rem;
    }
}

/*************************** INICIA SECCION NAV *************************/
body{
    overflow-x: hidden;
}
nav{
    height: 6rem;
    width: 100%;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: sticky;
    z-index: 10;
}
#signature{
    width: 40%;
}
.navtext{
    color: #FFFF;
    font-size: xx-large;
    padding-left: 40px;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 90vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #FFFF;
}
.nav-links li a:hover {
    color: black;
    font-weight: bold;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: black;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 699px){
    nav{
        position: fixed;
        z-index: 3;
        height: 4rem;
    }
    .navtext{
        padding-top: 4%;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*************************** TERMINA SECCION NAV *************************/

/* INICIA HEADER */
header{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
}
h1{
    width: 85%;
    font-size:70px;
    padding-left: 2%;
    color: #0f0e0e;
    font-family: 'Old Standard TT', serif;
}
#success{
    font-family: 'Old Standard TT', serif;
    color: #0f0e0e;
    position: relative;
}
.headertext{
    color: #131212;
    font-weight: bold;
    font-size: 30px;
    width: 90%;
    padding-left: 2%;
}
.line{
    height: 20px;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
    animation: linewidth 2s infinite;
    margin-top: 5%;
    margin-bottom: 5%;
}
@keyframes linewidth {
    0%   {width: 0px;}
    100% {width: 95%;}
  }

  @media screen and (min-width: 699px){
  header{
    margin-top: 50px;
  }
  h1{
    font-size: 100px;
    margin-left: 5%;
  }
  .headertext{
    font-size: 40px;
    margin-left: 5%;
  }
  .line{
    padding: 0;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

/* TERMINA HEADER */

/* INICIA ABOUT ME */
#aboutmesection{
    display: flex;
    flex-direction: column;
}

#profile{
    margin-left: auto;
    margin-right: auto;
}

.aboutmetext{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/* TERMINA ABOUT ME */

/* INICIA SERVICES */
.servicesdiv{
    display: flex;
    flex-direction: column;
}
.servicestext{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: justify;
}
.servicesimgright, .servicesimgleft{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
@media screen and (min-width: 699px){
    .servicesdiv{
        flex-direction: row;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .servicesimgright, .servicesimgleft{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .servicestext{
        width: 40%;
        padding-top: 5%;
    }
    .servicesdiv{
        margin-top: 0;
    }
}
/* TERMINA SERVICES */

/* INICIA CUSTOMERS */
.reviewcard{
    box-shadow: 10px 0 60px 1px #a5a1a1;
    min-height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.review{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
}
.resultsimg{
    width: 30%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
.reviewtext{
    width: 80%;
    color: #ce4c1d;
}
i{
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#clip1{
    z-index: 5;
    width: 200px;
    bottom: 10px;
    clip-path: polygon(6% 94%, 100% 94%, 95% 100%, 0% 100%);
    background: linear-gradient(270deg, rgba(40, 66, 146, 0.93) 0%, rgba(39, 43, 81, 0.97) 90%);
}
@media screen and (min-width: 699px){
    #cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reviewcard{
        width: 450px;
        margin-top: 4%;
    }
    .reviewcard:hover{
        scale: 1.15;
    }
    
}

  /* TERMINA CUSTOMERS */

  /* EMPIEZA CONTACT */
  form{
    border: 1px solid #02064f;
    height: 500px;
    box-shadow: 5px 10px #0a0d46;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .h3contact{
    margin-top: 10%;
  }
  textarea{
    width: 100%;
    resize: none;
  }
  .input, fieldset, textarea{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  input[type=text], input[type=email] {
    border: none;
    border-bottom:2px solid #080909;
    margin-left: 3%;
  }
  legend{
    font-weight: bold;
  }
  #submit {
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
    margin-left: 30%;
  }
  #submit:hover {
    background-position: right center;
  }
  #submit:active {
    top: 2px;
  }

  @media screen and (min-width: 699px){
    #forms{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        height: max-content;
    }
    textarea{
        max-height: 100px;
    }
    .contactdiv, .contactdiv1{
        width: 45%;
    }
    .contactdiv1{
        margin-right: -100px;
        padding-right: 0;
    }
    .h3contact{
        text-align: center;
        margin-top: 0%;
    }
    h2, h3{
        padding: 1%;
        margin-left: 3%;
        font-weight: bolder;
    }
  }
  /* EMPIEZA CONTACT */